<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="'Lock #' + ${lock.id}"></title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }

        th, td {
            padding: 8px;
            text-align: left;
            border: 1px solid #ddd;
        }

        th {
            background-color: #f2f2f2;
        }

        tr:nth-child(even) {
            background-color: #f9f9f9;
        }
    </style>
</head>
<body>
<h1 th:text="'Lock #' + ${lock.id}"></h1>

<!-- Table to display the list of locks -->
<div>
    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Locker Number</th>
        </tr>
        </thead>
        <tbody>
            <td th:text="${lock.id}"></td>
            <td th:text="${lock.lockerNumber}"></td>

        </tbody>
    </table>
</div>


</body>
</html>