<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:overflow-y="http://www.w3.org/1999/xhtml"
      xmlns:height="http://www.w3.org/1999/xhtml">
<head>
    <title>RFID Padlock - Students</title>
    <meta http-equiv="content-type" content="text/html">
    <meta name="Keywords" content="">
    <meta name="Description" content="">
    <meta name="Author" content="dnsadmin@afraid.org">

    <link rel="stylesheet" th:href="@{/css/students.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">

    <script th:src="@{js/script.js}"></script>
</head>


<body text="#000000" bgcolor="cornflowerblue" link="#000000" vlink="#808080" alink="#000000">
<table border="0" width="100%" cellspacing="5" height="100%">
    <tbody>



    <!-- top header -->
    <tr>
        <td colspan="3" bgcolor="red" align="left">
            <font face="verdana, Helvetica, Arial" size="5" color="black">
                <h1>RFID padlock - Students</h1>
            </font>
        </td>
    </tr>



    <!-- body row -->
    <tr>
        <!-- center body cell -->
        <td bgcolor="white" >
                <table width="100%" align="center" id="studentTable">
                    <!-- Table head content -->
                    <thead bgcolor="#e0e0e0">
                    <tr>
                        <th width="15%">ID</th>
                        <th>Name</th>
                        <th width="15%px">Grade</th>
                        <th width="25%px">Action</th>
                    </tr>
                    </thead>

                    <!-- Table body content -->
                    <tbody>
                    <!-- Loop through the items and display them in the table -->
                    <tr th:each="student : ${students}">
                        <td th:text="${student.id}">ID</td>
                        <td th:text="${student.name}">Name</td>
                        <td th:text="${student.grade}">Grade</td>
                        <td>
                            <!-- Link to the student's info page, opening in a new tab -->
                            <a th:href="@{'/student/' + ${student.id}}" target="_blank">View Info</a>
                        </td>
                    </tr>
                    <tr><td>TEST</td><td>TEST</td><td>TEST</td><td>TEST</td></tr>
                    <tr><td>TEST</td><td>TEST</td><td>TEST</td><td>TEST</td></tr>
                    <tr><td>TEST</td><td>TEST</td><td>TEST</td><td>TEST</td></tr>
                    <tr><td>TEST</td><td>TEST</td><td>TEST</td><td>TEST</td></tr>
                    <tr><td>TEST</td><td>TEST</td><td>TEST</td><td>TEST</td></tr>
                    <tr><td>TEST</td><td>TEST</td><td>TEST</td><td>TEST</td></tr>
                    <tr><td>TEST</td><td>TEST</td><td>TEST</td><td>TEST</td></tr>
                    <tr><td>TEST</td><td>TEST</td><td>TEST</td><td>TEST</td></tr>
                    <tr><td>TEST</td><td>TEST</td><td>TEST</td><td>TEST</td></tr>
                    <tr><td>TEST</td><td>TEST</td><td>TEST</td><td>TEST</td></tr>
                    <tr><td>TEST</td><td>TEST</td><td>TEST</td><td>TEST</td></tr>
                    <tr><td>TEST</td><td>TEST</td><td>TEST</td><td>TEST</td></tr>
                    <tr><td>TEST</td><td>TEST</td><td>TEST</td><td>TEST</td></tr>
                    <tr><td>TEST</td><td>TEST</td><td>TEST</td><td>TEST</td></tr>
                    <tr><td>TEST</td><td>TEST</td><td>TEST</td><td>TEST</td></tr>
                    <tr><td>TEST</td><td>TEST</td><td>TEST</td><td>TEST</td></tr>
                    <tr><td>TEST</td><td>TEST</td><td>TEST</td><td>TEST</td></tr>
                    <tr><td>TEST</td><td>TEST</td><td>TEST</td><td>TEST</td></tr>
                    <tr><td>TEST</td><td>TEST</td><td>TEST</td><td>TEST</td></tr>
                    <tr><td>TEST</td><td>TEST</td><td>TEST</td><td>TEST</td></tr>
                    <tr><td>TEST</td><td>TEST</td><td>TEST</td><td>TEST</td></tr>
                    <tr><td>TEST</td><td>TEST</td><td>TEST</td><td>TEST</td></tr>
                    <tr><td>TEST</td><td>TEST</td><td>TEST</td><td>TEST</td></tr>
                    <tr><td>TEST</td><td>TEST</td><td>TEST</td><td>TEST</td></tr>
                    <tr><td>TEST</td><td>TEST</td><td>TEST</td><td>TEST</td></tr>
                    <tr><td>TEST</td><td>TEST</td><td>TEST</td><td>TEST</td></tr>
                    <tr><td>TEST</td><td>TEST</td><td>TEST</td><td>TEST</td></tr>
                    <tr><td>TEST</td><td>TEST</td><td>TEST</td><td>TEST</td></tr>
                    <tr><td>TEST</td><td>TEST</td><td>TEST</td><td>TEST</td></tr>
                    <tr><td>TEST</td><td>TEST</td><td>TEST</td><td>TEST</td></tr>
                    <tr><td>TEST</td><td>TEST</td><td>TEST</td><td>TEST</td></tr>
                    <tr><td>TEST</td><td>TEST</td><td>TEST</td><td>TEST</td></tr>
                    <tr><td>TEST</td><td>TEST</td><td>TEST</td><td>TEST</td></tr>
                    <tr><td>TEST</td><td>TEST</td><td>TEST</td><td>TEST</td></tr>
                    <tr><td>TEST</td><td>TEST</td><td>TEST</td><td>TEST</td></tr>
                    <tr><td>TEST</td><td>TEST</td><td>TEST</td><td>TEST</td></tr>
                    <tr><td>TEST</td><td>TEST</td><td>TEST</td><td>TEST</td></tr>
                    <tr><td>TEST</td><td>TEST</td><td>TEST</td><td>TEST</td></tr>
                    <tr><td>TEST</td><td>TEST</td><td>TEST</td><td>TEST</td></tr>
                    <tr><td>TEST</td><td>TEST</td><td>TEST</td><td>TEST</td></tr>
                    <tr><td>TEST</td><td>TEST</td><td>TEST</td><td>TEST</td></tr>
                    <tr><td>TEST</td><td>TEST</td><td>TEST</td><td>TEST</td></tr>
                    <tr><td>TEST</td><td>TEST</td><td>TEST</td><td>TEST</td></tr>
                    <tr><td>TEST</td><td>TEST</td><td>TEST</td><td>TEST</td></tr>
                    <tr><td>TEST</td><td>TEST</td><td>TEST</td><td>TEST</td></tr>
                    <tr><td>TEST</td><td>TEST</td><td>TEST</td><td>TEST</td></tr>
                    <tr><td>TEST</td><td>TEST</td><td>TEST</td><td>TEST</td></tr>
                    <tr><td>TEST</td><td>TEST</td><td>TEST</td><td>TEST</td></tr>
                    <tr><td>TEST</td><td>TEST</td><td>TEST</td><td>TEST</td></tr>
                    <tr><td>TEST</td><td>TEST</td><td>TEST</td><td>TEST</td></tr>
                    <tr><td>TEST</td><td>TEST</td><td>TEST</td><td>TEST</td></tr>
                    <tr><td>TEST</td><td>TEST</td><td>TEST</td><td>TEST</td></tr>
                    <tr><td>TEST</td><td>TEST</td><td>TEST</td><td>TEST</td></tr>
                    <tr><td>TEST</td><td>TEST</td><td>TEST</td><td>TEST</td></tr>
                    <tr><td>TEST</td><td>TEST</td><td>TEST</td><td>TEST</td></tr>
                    <tr><td>TEST</td><td>TEST</td><td>TEST</td><td>TEST</td></tr>
                    <tr><td>TEST</td><td>TEST</td><td>TEST</td><td>TEST</td></tr>
                    <tr><td>TEST</td><td>TEST</td><td>TEST</td><td>TEST</td></tr>
                    <tr><td>TEST</td><td>TEST</td><td>TEST</td><td>TEST</td></tr>
                    <tr><td>TEST</td><td>TEST</td><td>TEST</td><td>TEST</td></tr>
                    <tr><td>TEST</td><td>TEST</td><td>TEST</td><td>TEST</td></tr>
                    <tr><td>TEST</td><td>TEST</td><td>TEST</td><td>TEST</td></tr>
                    <tr><td>TEST</td><td>TEST</td><td>TEST</td><td>TEST</td></tr>
                    <tr><td>TEST</td><td>TEST</td><td>TEST</td><td>TEST</td></tr>
                    <tr><td>TEST</td><td>TEST</td><td>TEST</td><td>TEST</td></tr>
                    <tr><td>TEST</td><td>TEST</td><td>TEST</td><td>TEST</td></tr>
                    <tr><td>TEST</td><td>TEST</td><td>TEST</td><td>TEST</td></tr>
                    <tr><td>TEST</td><td>TEST</td><td>TEST</td><td>TEST</td></tr>
                    <tr><td>TEST</td><td>TEST</td><td>TEST</td><td>TEST</td></tr>
                    <tr><td>TEST</td><td>TEST</td><td>TEST</td><td>TEST</td></tr>
                    <tr><td>TEST</td><td>TEST</td><td>TEST</td><td>TEST</td></tr>
                    <tr><td>TEST</td><td>TEST</td><td>TEST</td><td>TEST</td></tr>
                    <tr><td>TEST</td><td>TEST</td><td>TEST</td><td>TEST</td></tr>
                    <tr><td>TEST</td><td>TEST</td><td>TEST</td><td>TEST</td></tr>
                    <tr><td>TEST</td><td>TEST</td><td>TEST</td><td>TEST</td></tr>
                    <tr><td>TEST</td><td>TEST</td><td>TEST</td><td>TEST</td></tr>
                    <tr><td>TEST</td><td>TEST</td><td>TEST</td><td>TEST</td></tr>
                    <tr><td>TEST</td><td>TEST</td><td>TEST</td><td>TEST</td></tr>
                    <tr><td>TEST</td><td>TEST</td><td>TEST</td><td>TEST</td></tr>
                    <tr><td>TEST</td><td>TEST</td><td>TEST</td><td>TEST</td></tr>
                    <tr><td>TEST</td><td>TEST</td><td>TEST</td><td>TEST</td></tr>
                    <tr><td>TEST</td><td>TEST</td><td>TEST</td><td>TEST</td></tr>
                    <tr><td>TEST</td><td>TEST</td><td>TEST</td><td>TEST</td></tr>
                    <tr><td>TEST</td><td>TEST</td><td>TEST</td><td>TEST</td></tr>
                    <tr><td>TEST</td><td>TEST</td><td>TEST</td><td>TEST</td></tr>
                    <tr><td>TEST</td><td>TEST</td><td>TEST</td><td>TEST</td></tr>
                    <tr><td>TEST</td><td>TEST</td><td>TEST</td><td>TEST</td></tr>
                    <tr><td>TEST</td><td>TEST</td><td>TEST</td><td>TEST</td></tr>
                    </tbody>
                </table>
        </td>
    </tr>



    <!-- top footer row -->
    <tr>
        <td colspan="3" align="center" bgcolor="white"></td>
    </tr>

    <!-- center footer row -->
    <tr>
        <td colspan="3" bgcolor="white">
            <center>
                © 2025 Jackson Funk, <a href="https://freedns.afraid.org/">RFID Padlock</a> is currently processing 9999 students.<br>
            </center>
        </td>
    </tr>

    <!-- bottom footer row -->
    <tr>
        <td bgcolor="white" align="center" colspan="3"></td>
    </tr>




    </tbody>
</table>

</body>

</html>