.storeuserData {behavior:url(#default#userData);}

body, td, p { font-family: Verdana, Helvetica, Arial; font-size: 13px; color: #000000; }

body { background: cornflowerblue; }

a:link, a:active { color: #000000; }
a:visited { color: #808080; }

h1 { text-decoration: none;  font-size: 16px;  font-family: Verdana,Helvetica,Arial; font-style: normal; font-weight: bold; }

.error_dialog {
	text-align: center;
	margin-top: 0px;
}
.error_exclamation_text {
  background-image:url('https://freedns.afraid.org/images/exclamation_yellow_tri_mini.gif');
  background-repeat:no-repeat;
  padding-left: 25px;
}

.trd td { background: #CCCCCC; }
.trl td { background: #EEEEEE; }
.trd span, .trl span { font-size: smaller; }
.trd a:link, .trd a:visited, .trl a:link, .trl a:visited { color: #000000; text-decoration: underline; }



.btn-group .button {
  background-color: #ffffff;
  color: black;
  border: 2px solid #000000;
  padding: 11px 28px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  margin: 0px 0px;
}

.btn-group .button:hover {
  background-color: #000000;
  color: white;
}

.button {border-radius: 4px;}

.table-container {
    max-height: 800px; /* Set the desired height */
    overflow-y: auto;  /* Enable vertical scrolling */
}